@mixin full-gen($bp, $dm) {
  .full-#{$dm}-#{$bp} {
    .wg-img {
      @include media-breakpoint-down(#{$bp}) {
        #{$dm}: 100%;
      }
    }
  }
}

// $c-padding: (
//   'xs': 20,
//   'sm': 30,
//   'md': 40,
//   'lg': 60,
//   'xl': 80,
// );

$paddings: (
  'xs': 40,
  'sm': 40,
  'md': 40,
  'lg': 60,
  'xl': 80,
);

@mixin section-padding($pd: $paddings) {
  @each $breakpoint, $value in $pd {
    @include media-breakpoint-up(#{$breakpoint}) {
      padding-top: #{$value + px};
      padding-bottom: #{$value + px};
    }
  }
}
@mixin section-padding-top($pd: $paddings) {
  @each $breakpoint, $value in $pd {
    @include media-breakpoint-up(#{$breakpoint}) {
      padding-top: #{$value + px};
    }
  }
}

@mixin section-padding-bottom($pd: $paddings) {
  @each $breakpoint, $value in $pd {
    @include media-breakpoint-up(#{$breakpoint}) {
      padding-bottom: #{$value + px};
    }
  }
}

// @mixin content-padding($pd: $c-padding) {
//   @each $breakpoint, $value in $pd {
//     @include media-breakpoint-up(#{$breakpoint}) {
//       padding-top: #{$value + px};
//       padding-bottom: #{$value + px};
//     }
//   }
// }

// @mixin content-padding-top($pd: $c-padding) {
//   @each $breakpoint, $value in $pd {
//     @include media-breakpoint-up(#{$breakpoint}) {
//       padding-top: #{$value + px};
//     }
//   }
// }

// @mixin content-padding-bottom($pd: $c-padding) {
//   @each $breakpoint, $value in $pd {
//     @include media-breakpoint-up(#{$breakpoint}) {
//       padding-bottom: #{$value + px};
//     }
//   }
// }

@mixin res-font($min, $max) {
  font-size: calc(
    #{$min}px + (#{$max} - #{$min}) * ((100vw - 360px) / (1920 - 360))
  ) !important;
}

@mixin res-line($min, $max) {
  line-height: calc(
    #{$min}px + (#{$max} - #{$min}) * ((100vw - 360px) / (1920 - 360))
  );
}

@mixin res-margin($pos, $min, $max) {
  margin#{$pos}: calc(
    #{$min}px + (#{$max} - #{$min}) * ((100vw - 360px) / (1920 - 360))
  );
}

$breakpoints: (
  'sm': '576px',
  'md': '768px',
  'lg': '992px',
  'xl': '1200px',
  'xxl': '1400px',
  'xxxl': '1600px',
  'xxxxl': '1900px',
  'ultraXl': '2100px',
);

@mixin media-sm-up {
  @media (min-width: 576px) {
    @content;
  }
}
@mixin media-md-up {
  @media (min-width: 768px) {
    @content;
  }
}
@mixin media-lg-up {
  @media (min-width: 992px) {
    @content;
  }
}
@mixin media-xl-up {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin media-xxl-up {
  @media (min-width: 1400px) {
    @content;
  }
}
@mixin media-xxxl-up {
  @media (min-width: 1600px) {
    @content;
  }
}
@mixin media-xxxxl-up {
  @media (min-width: 1900px) {
    @content;
  }
}
@mixin media-ultraxl-up {
  @media (min-width: 2100px) {
    @content;
  }
}

@mixin media-sm-down {
  @media (max-width: 576px) {
    @content;
  }
}
@mixin media-md-down {
  @media (max-width: 768px) {
    @content;
  }
}
@mixin media-lg-down {
  @media (max-width: 992px) {
    @content;
  }
}
@mixin media-xl-down {
  @media (max-width: 1200px) {
    @content;
  }
}
@mixin media-xxl-down {
  @media (max-width: 1400px) {
    @content;
  }
}
@mixin media-xxxl-down {
  @media (max-width: 1600px) {
    @content;
  }
}
@mixin media-xxxxl-down {
  @media (max-width: 1900px) {
    @content;
  }
}
@mixin media-ultraxl-down {
  @media (max-width: 2100px) {
    @content;
  }
}
