// @mixin full-gen($bp, $dm) {
//   .full-#{$dm}-#{$bp} {
//     .wg-img {
//       @include media-breakpoint-down(#{$bp}) {
//         #{$dm}: 100%;
//       }
//     }
//   }
// }
@use './variables' as *;

@mixin media-breakpoint-up($bp) {
  @media only screen and (min-width: #{$bp}px) {
    @content;
  }
}

@mixin media-breakpoint-down($bp) {
  @media only screen and (min-width: #{$bp}px) {
    @content;
  }
}

@mixin section-padding($pd: $paddings) {
  @each $breakpoint, $value in $pd {
    @include media-breakpoint-up(#{$breakpoint}) {
      padding-top: #{$value + px};
      padding-bottom: #{$value + px};
    }
  }
}
@mixin section-padding-top($pd: $paddings) {
  @each $breakpoint, $value in $pd {
    @include media-breakpoint-up(#{$breakpoint}) {
      padding-top: #{$value + px};
    }
  }
}

@mixin section-padding-bottom($pd: $paddings) {
  @each $breakpoint, $value in $pd {
    @include media-breakpoint-up(#{$breakpoint}) {
      padding-bottom: #{$value + px};
    }
  }
}

@mixin res-font($min, $max) {
  font-size: calc(
    #{$min}px + (#{$max} - #{$min}) * ((100vw - 360px) / (1920 - 360))
  ) !important;
}

@mixin res-line($min, $max) {
  line-height: calc(
    #{$min}px + (#{$max} - #{$min}) * ((100vw - 360px) / (1920 - 360))
  );
}

@mixin res-margin($pos, $min, $max) {
  margin#{$pos}: calc(
    #{$min}px + (#{$max} - #{$min}) * ((100vw - 360px) / (1920 - 360))
  );
}
