@use './mixins' as *;
@use './variables' as *;

.section-padding {
  @include section-padding;
}

.section-padding-top {
  @include section-padding-top;
}

.section-padding-bottom {
  @include section-padding-bottom;
}

.custom-container {
  margin: 0 auto;
  padding: 0 30px;

  @include media-breakpoint-up($md) {
    padding: 0 7.76%;
  }

  @include media-breakpoint-up($xxxxl) {
    padding: 0;
  }
}

.custom-container-only-left {
  padding: 0 30px;
  margin: 0 auto;

  @include media-breakpoint-up($md) {
    padding: 0 0 0 7.76%;
  }

  @include media-breakpoint-up($xxxxl) {
    padding: 0;
  }
}

.custom-container-only-right {
  padding: 0 30px;
  margin: 0 auto;

  @include media-breakpoint-up($md) {
    padding: 0 7.76% 0 0;
  }

  @include media-breakpoint-up($xxxxl) {
    padding: 0;
  }
}

// ANCHOR Utilities
.flex {
  display: flex;
}
.inline-flex {
  display: inline-flex;
}
.flex-auto {
  flex: 1 1 auto;
  min-width: 0;
  min-height: 0;
}
.flex-none {
  flex: none;
}
.flex-column {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-nowrap {
  flex-wrap: nowrap;
}
.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}
.flex-column-reverse {
  flex-direction: column-reverse;
}
.flex-row-reverse {
  flex-direction: row-reverse;
}
.items-start {
  align-items: flex-start;
}
.items-end {
  align-items: flex-end;
}
.items-center {
  align-items: center;
}
.items-baseline {
  align-items: baseline;
}
.items-stretch {
  align-items: stretch;
}
.self-start {
  align-self: flex-start;
}
.self-end {
  align-self: flex-end;
}
.self-center {
  align-self: center;
}
.self-baseline {
  align-self: baseline;
}
.self-stretch {
  align-self: stretch;
}
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.content-start {
  align-content: flex-start;
}
.content-end {
  align-content: flex-end;
}
.content-center {
  align-content: center;
}
.content-between {
  align-content: space-between;
}
.content-around {
  align-content: space-around;
}
.content-stretch {
  align-content: stretch;
}
